@import "leaflet/dist/leaflet";
// @import "mapbox-gl/dist/mapbox-gl";

// 1. Your custom variables and variable overwrites.
$global-font-family: Open Sans, sans-serif;
$global-primary-background: #FF7847;
$global-tertiary-background: #00AAB6;
$global-quaternary-background: #FFD348;
$text-default-color: white;
$global-font-size: 15px;
$navbar-nav-item-height: 70px;
$button-secondary-background: $global-tertiary-background;
$offcanvas-bar-color-mode: dark;

// $offcanvas-bar-color-mode: light;

#navbar { left: 0 !important }
#listas .uk-active a { background-color: $global-tertiary-background }
#listas a { background-color: #80c4c9 }

.uk-text-default { color: $text-default-color !important }
.uk-text-tertiary { color: $global-tertiary-background !important }
.uk-background-tertiary { background-color: $global-tertiary-background !important }
.uk-background-quaternary { background-color: $global-quaternary-background !important }
.uk-text-bold { font-weight: 600 !important }
.uk-striped > div:nth-of-type(odd) { background: #f1f8f7 }
.uk-striped > div { padding-bottom: 5px; padding-top: 5px }

table .uk-width-small { min-width: 150px }
table .uk-width-medium { min-width: 300px }
table .uk-width-large { min-width: 450px }
b { font-weight: 600 !important }

.box-truncate {
  overflow: hidden;
  display:  -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;  
  line-height: 1.8em;
}

.imageX{
  position: relative; 
}

.image1 {
  position: relative;
  top: 0;
  left: 0; 
}

.image2 {
  position: absolute;
  top: 29px;
  left: 41px;
}

.image3 {
  position: absolute;
  top: 0px;
  left: 0.1px;
}


.scientificName{
  font-style: italic;
}

.uk-maximo-20{
  height: 20px;
}
  
.uk-offcanvas-bar2{
    width: 350px;
    overflow-y: auto;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 2em;
}



// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.

@mixin hook-offcanvas-overlay() { z-index: 1000 }
.width-small {
  width: calc(100vw - $offcanvas-bar-width);
  margin-left: $offcanvas-bar-width;
}

@media (min-width: $breakpoint-medium) {
  
  .width-small {
    width: calc(100vw - $offcanvas-bar-width-m);
    margin-left: $offcanvas-bar-width-m;
  }
}


.uk-icon [fill*='#']:not(.uk-preserve){
  fill: currentcolor;
}

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";
